<div class="sidebar-nav d-flex flex-column flex-shrink-0 p-3 text-bg-dark shadow fixed-top">
  <a routerLink="/home" class="d-flex align-items-center text-white text-decoration-none">
    <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 pb-1 me-2">CB</span>CodeBank</h1>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class=" nav-link text-white">
        Página Inicial
      </a>
    </li>
    <li>
      <a routerLink="/clientes" routerLinkActive="active" class="nav-link text-white">
        Clientes
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/hideakifukami.png" alt="Imagem de Hideaki Fukami, desenvolvedor da página." width="38" height="38" class="rounded-circle me-2">
      <strong>Hideaki Fukami</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="https://www.linkedin.com/in/hideaki-fukami" target="_blank">LinkedIn</a></li>
      <li><a class="dropdown-item" href="https://github.com/hideakifukami" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>
