<div class="container">
  <h1 class="display-6 fs-2 pt-3">Página Inicial</h1>
  <hr>

  <div class="card shadow">
    <div class="card-header">
      Página Inicial > Clientes
    </div>
    <div class="card-body">
      <h5 class="card-title">Listar Clientes</h5>
      <p class="card-text">Página com listagem de todos os clientes cadastrados no sistema.</p>
      <a routerLink="/clientes" class="btn btn-primary">Vamos lá!</a>
    </div>
  </div>

  <div class="card shadow mt-3 mb-5 ">
    <div class="card-header">
      Página Inicial > Clientes > Cadastrar
    </div>
    <div class="card-body">
      <h5 class="card-title">Cadastrar Cliente</h5>
      <p class="card-text">Página com formulário para receber dados de novo cliente.</p>
      <a routerLink="/clientes/cadastrar" class="btn btn-primary">Vamos lá!</a>
    </div>
  </div>
  <nav class="fixed-bottom pb-2 pt-4 px-3 mt-5" aria-label="breadcrumb" style="left: 250px;">
    <hr>
    <ol class="breadcrumb pt-1">
      <li class="breadcrumb-item active" aria-current="page">Página Inicial</li>
    </ol>
  </nav>
</div>


