<div class="main-container d flex">
  <div class="sidebar" id="side_nav">

    <div class="header-box px-2 pt-3 pb-4">
      <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">CB</span><span class="text-white">CodeBank</span></h1>
      <button class="btn d-md-none d-block close-btn px-1 py-o text-white"><fa-icon [icon]="faBars" class="fal fa-stream"></fa-icon></button>
    </div>

    <ul class="list-unstyled px-2">
      <li>
        <a href="#" class="text-decoration-none">Dashboard</a>
      </li>
      <li>
        <a href="#" class="text-decoration-none">Clientes</a>
      </li>
    </ul>
    <hr class="h-color mx-3">
  </div>
  <div class="content">
  </div>
</div>
