<div class="container">
  <h1 class="display-6 fs-2 pt-3">Clientes</h1>
  <hr>
  <a routerLink="/clientes/cadastrar" class="btn btn-dark shadow">Cadastrar Cliente</a>
  <table class="table table-striped table-bordered mt-3 shadow">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rua</th>
        <th scope="col">Numero</th>
        <th scope="col">CEP</th>
        <th scope="col">Rendimento Mensal</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.nome}}</th>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.endereco.rua}}</td>
        <td>{{cliente.endereco.numero}}</td>
        <td>{{cliente.endereco.cep}}</td>
        <td>{{cliente.rendimentoMensal| currency: 'BRL'}}</td>
        <td>
          <button type="button" class="btn btn-dark btn-sm" routerLink="/clientes/editar/{{this.cliente.cpf}}">Editar</button>
          <button type="button" class="btn btn-danger btn-sm ms-1" (click)="deletar(this.cliente.cpf)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav class="fixed-bottom py-2 px-3" aria-label="breadcrumb" style="left: 250px;">
    <hr>
    <ol class="breadcrumb pt-1">
      <li class="breadcrumb-item"><a routerLink="/home" class="text-reset text-decoration-none">Página Inicial</a></li>
      <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
  </nav>
</div>
