<h1 class="display-6">{{ clienteCpf ? 'Editar' : 'Cadastrar' }}</h1>
<hr />

<div>{{ clienteForm.value | json }}</div>
<div class="container-fluid">
  <form [formGroup]= "clienteForm" (ngSubmit)="cadastrar()">
    <div class="row mb-3">
      <label for="nome" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" >
      </div>
    </div>
    <div class="row mb-3">
      <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf" >
      </div>
    </div>
    <div class="row mb-3">
      <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone" max="11" min="0" >
      </div>
    </div>
    <div formGroupName="endereco" class="row">
      <div class="row mb-3">
        <label for="rua" class="col-sm-2 col-form-label">Rua</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="rua" placeholder="Rua" formControlName="rua">
        </div>
      </div>
      <div class="row mb-3">
        <label for="numero" class="col-sm-2 col-form-label">Numero</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="numero" placeholder="Numero" formControlName="numero">
        </div>
      </div>
      <div class="row mb-3">
        <label for="cep" class="col-sm-2 col-form-label">CEP</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cep" placeholder="CEP" formControlName="cep">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="rendimentoMensal" class="col-sm-2 col-form-label">Rendimento Mensal</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rendimentoMensal" placeholder="Rendimento Mensal" formControlName="rendimentoMensal">
      </div>
    </div>
    <button type="submit"  class="btn btn-dark">{{ clienteCpf ? 'Editar' : 'Cadastrar' }}</button>
  </form>
</div>
